@import "../sass/utils/variables";
@import "../sass/utils/functions";
@import "../sass/utils/mixins";

@import "../sass/base/reset";
@import "../sass/base/typo.scss";

// @import "./components/buttons";

// @import "./layouts/header";
// @import "./layouts/nav";
// @import "./layouts/container";
// @import "./layouts/form";

// @import "./pages/work";
// @import "./pages/about";
// @import "./pages/project";

body {
    background-color: #ccc;
}

header {
    display        : flex;
    justify-content: center;
    align-items    : center;
    background     : #fff;
    height         : 55px;
    box-shadow     : 0px 1px 5px 0px rgba(0, 0, 0, 0.3);

    .logo {
        font-size: x-large;
    }
}

.search {

    &__location {
        @include flex(row, center, center);
        height          : 40px;
        background-color: #dddddd9a;
        gap             : 15px;
    }

    span {
        font-weight: 500;
    }

    &__booking {
        margin          : 0 auto;
        height          : 275px;
        background-color: #f6f6f6;

        &__content {
            display       : flex;
            flex-direction: column;
            align-items   : center;
            padding-top   : 30px;

            h1 {
                text-align    : center;
                letter-spacing: -1px;
                font-weight   : 700;
            }

            p {
                margin-top: 15px;
                width     : 80%;
                text-align: center;
                color     : #5d5d5d;
            }

            button {
                padding      : 15px 20px;
                margin       : 30px 0;
                border-radius: 50px;
                background   : linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
                box-shadow   : 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
                border       : none;
                color        : #eee;

            }
        }
    }
}

.functioning {
    @include flex(column,start,start);
    @include global_paddings;
    height: 430px;
    background-color: #fff;


    &__heading {
        font-size  : 22px;
        font-weight: 700;
        margin-top: 40px;
    }

    &__mobile-card {
        @include flex(row,center, center);
        margin-top: 30px;
        background-color: #f6f6f6;
        box-shadow   : 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        padding: 25px 20px;
        border-radius: 20px;
        width: 90%;
        position: relative;

        span:first-child {
            background-color: $primary_colour;
            padding: 5px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            @include flex(row,center,center);
            color: #fff;
            font-size: 15px;
            position: absolute;
            left: -12px;
        }

        i {
            font-size: 20px;
            color: #5d5d5d;
            margin:0 30px 0 -45px;
        }

        span:last-child {
            font-weight: bold;
            
        }
    }

    @import "../sass/components/functioning__list-card";
    @import "../sass/components/functioning__shop-card";
}