@import "../sass/utils/variables";
@import "../sass/utils/functions";
@import "../sass/utils/mixins";

@import "../sass/base/reset";
@import "../sass/base/typo.scss";

// @import "./components/buttons";

// @import "./layouts/header";
// @import "./layouts/nav";
// @import "./layouts/container";
// @import "./layouts/form";

// @import "./pages/work";
// @import "./pages/about";
// @import "./pages/project";

body {
    background-color: #fff;
}
header {
    display        : flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 55px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    h1 {
        font-size: x-large;
    }
}

.search {
    @include flexRowCenter;
    background-color : rgba(221, 221, 221, 0.408);
    height: 45px;

    &__location {
        @include flexRowCenter;
        gap: 20px;
    }

    span {
        font-weight: 500;
    }
}