@media screen and (min-width: 768px) {

    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    .bodyvariant {
        height: 1640px;
    }

    .bodysize-note {
        height: 1710px;
    }

    .restaurants__cards-wrapper {
        display  : flex;
        flex-wrap: wrap;
        gap      : 20px;
        max-width: 100%;
    }

    .restaurants {
        height: 740px;

        &__cards {
            width: 48%;
        }
    }

    .menu {
        &__menuheading {
            justify-content: center;
            gap: 25px;
        }

        

        &__meal_part {
            display: block;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 15px;
        }
        &__meal_cards {
            max-width: 60%;
            margin: 0 auto;
            margin-bottom: 15px;
            

        }
    }

    footer {
        @include flex(column,center,center)
    }
}