@mixin flex($flex-direction, $justify-content, $align) {
    display        : flex;
    flex-direction : $flex-direction;
    justify-content: $justify-content;
    align-items    : $align;
}



@mixin global_paddings {
    padding: 0px 20px;
}